[submodule "baselines/g2-aimd"]
	path = baselines/g2-aimd
	url = https://github.com/lyuheng/g2-aimd.git
[submodule "baselines/mce-gpu"]
	path = baselines/mce-gpu
	url = https://github.com/yen-hsiang-chang/mce-gpu.git
